body{
    background-color: rgb(231, 232, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.head{
   color: blue;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 10px;
}
.head2{
    font-size: 20px;
}
form input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    outline:0;
    border: none;
}